In [1]:
# Q1. EXAMPLE OF FOR-LOOP :
    
n=["apple","banana","guava","peach","pineappe"]
for i in n:
    print(i)

apple
banana
guava
peach
pineappe

In [8]:
#example of while loop:
n=int(input("enter number="))
fact=1

while n>=1:
    fact*=n
    n-=1
print(fact)

enter number= 5

120

In [19]:
#Q2
 #sum and product of first 10 natural numbers using while and for loop

#while loop:

sum=0
p=1
i=1
while i<11:
    sum+=i
    p*=i
    i+=1
print("sum using while=",sum)   
print("product using while=",p)


#for loop:
sum=0
p=1

for i in range(1,11):
    sum+=i
    p=p*i
    i+=1
print("sum using FOR-LOOP=",sum)
print("product using FOR-LOOP=",p)

sum using while= 55
product using while= 3628800
sum using FOR-LOOP= 55
product using FOR-LOOP= 3628800

In [5]:
#Q3
u=int(input("enter units="))
if u<=100:
    b=u*4.5
elif u>=101 and u<=200:
    b=b*6
elif u>=201 and u<=300:
    b=b*10
elif u>300:
    b=u*20
    if u==310:
        b=b-3950
print(b)

enter units= 310

2250

In [2]:
# Q4.
l=[]
for i in range(1,101):
    c=i*i*i
    if c%4==0 or c%5==0:
        l.append(c)
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [1]:
#using while loop:

l=[]
i=1
while i<101:
    c= i ** 3
    if c%4==0 or c%5==0:
        l.append(c)
    i+=1
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [6]:
#Q5
str="I want to become a data scientist"
i=0
count=0
for i in range(len(str)):
    if((str[i]=='a')or(str[i]=='e')or(str[i]=='i')or(str[i]=='o')or(str[i]=='u')or(str[i]=='I')or(str[i]=='A')):
        count+=1
print("count of vowels=",count)

count of vowels= 12